<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.blogsystem.mapper.CategoryMapper">

    <!--List<CategoryListItemVO> list();-->
    <select id="list" resultMap="listRM">
        SELECT id, name, sort, gmt_create, gmt_modified
        FROM blog.blog_category
        ORDER BY sort DESC;
    </select>

    <resultMap id="listRM" type="cn.tedu.blogsystem.pojo.vo.CategoryListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!--List<String> listByArticleId();-->
    <select id="listByArticleId" resultType="cn.tedu.blogsystem.pojo.vo.CategoryListItemVO">
        SELECT blog.blog_category.name
        FROM blog.blog_article
                 JOIN blog.blog_article_category
                      ON blog.blog_article.id = blog.blog_article_category.article_id
                 JOIN blog.blog_category
                      ON blog.blog_category.id = blog.blog_article_category.category_id
        WHERE blog_article.id = #{id}
    </select>
</mapper>
